In [ ]:
!pip install -q jupyter-dash==0.3.0rc1 dash-bootstrap-components transformers
!pip install xlrd
!pip install -q dash
!pip install -q dash_core_components
!pip install -q dash_html_components
!pip install -q dash_table

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output, State
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd

In [ ]:
df = pd.read_excel('PROD-DEM 2016-2021.xlsx',
                       sheet_name='POTENCIA-30M',
                       skiprows=range(5))
                       ##,skipfooter=2)
print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [ ]:
df.head()

       Fecha  ... DEMANDA NACIONAL \n(Incluye las pérdidas en transmisión)
0 2016-01-01  ...                                            2396.90
1 2016-01-01  ...                                            2396.13
2 2016-01-01  ...                                            2358.84
3 2016-01-01  ...                                            2307.70
4 2016-01-01  ...                                            2231.39

[5 rows x 5 columns]

In [ ]:
df.tail()

           Fecha  ... DEMANDA NACIONAL \n(Incluye las pérdidas en transmisión)
92395 2021-04-08  ...                                            3769.00
92396 2021-04-08  ...                                            3645.15
92397 2021-04-08  ...                                            3575.04
92398 2021-04-08  ...                                            3463.42
92399 2021-04-08  ...                                            3346.59

[5 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92400 entries, 0 to 92399
Data columns (total 5 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Fecha                                                    92400 non-null  datetime64[ns]
 1   Día                                                      92400 non-null  object
 2   Hora                                                     92400 non-null  object
 3   PRODUCCIÓN
(Incluye las importaciones)                 92400 non-null  float64
 4   DEMANDA NACIONAL
(Incluye las pérdidas en transmisión)  92400 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 3.5+ MB

In [ ]:
df.columns.values

array(['Fecha', 'Día', 'Hora',
       'PRODUCCIÓN  \n(Incluye las importaciones)',
       'DEMANDA NACIONAL \n(Incluye las pérdidas en transmisión)'],
      dtype=object)

In [ ]:
df.index.values

array([    0,     1,     2, ..., 92397, 92398, 92399])

In [ ]:
print("Comparacion entre años 2019-2020")
df1=df.groupby(['Fecha'])[['DEMANDA NACIONAL \n(Incluye las pérdidas en transmisión)']].sum()
print(df1)

In [ ]:
%%sh
# get ngrok
curl -O https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
unzip ngrok-stable-linux-amd64.zip

Archive:  ngrok-stable-linux-amd64.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 13.1M  100 13.1M    0     0  22.9M      0 --:--:-- --:--:-- --:--:-- 22.9M
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

In [ ]:
%%writefile dash_app.py

import dash
import dash_core_components as dcc
import dash_html_components as html

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__)#, external_stylesheets=external_stylesheets)

app.layout = html.Div(children=[
    html.H1(children='Hello Dash'),

    html.Div(children='''
        Dash: A web application framework for Python.
    '''),

    dcc.Graph(
        id='example-graph',
        figure={
            'data': [
            ],
            'layout': {
                'title': 'Consumo Electrico'
            }
        }
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

Writing dash_app.py

In [ ]:
# launch ngrok
get_ipython().system_raw('./ngrok http 8050 &')

In [ ]:
%%sh
# get url with ngrok
curl -s http://localhost:4040/api/tunnels | python3 -c "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

https://a154635076ec.ngrok.io

In [ ]:
!python dash_app.py

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "dash_app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on